@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Libre Baskerville", serif;
}
.cover-photo {
  position: relative;
}

/* Overlay with semi-transparent background color */
.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

/* Apply custom styles to the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
}

/* Optional: Apply custom styles to the scrollbar track when it's being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.shadow-cus {
  box-shadow: inset 0 150px 80px -10px rgba(0, 0, 0, 0.5);
}
.shadow-cus-bottom {
  box-shadow: inset 0 -80px 60px -10px rgba(0, 0, 0, 0.5);
}
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.border-cus {
  border-top: 1px solid white;
}
.border-b-cus {
  border-bottom: 1px solid white;
}
